fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic[email]
python-dotenv
email-validator
psycopg2-binary==2.9.9
passlib[bcrypt]
bcrypt==3.2.2
python-jose[cryptography]
python-multipart
cryptography
python-dateutil
